@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Smooth theme transition */
.theme-transition {
  transition: background-color 0.4s ease, color 0.4s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

button
{
  cursor: pointer;
}

.force-export,
.force-export * {
  color: rgb(15, 23, 42) !important;
  background-color: white !important;
  border-color: rgb(203, 213, 225) !important;
}
